/* footer
----------------------------------------- */
@use "../global" as *;

.l-footer {
    background: #182f20;

    @include responsive(md) {
        padding: rem(160) 0 rem(40);
    }

    .l-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: rem(80) rem(40) rem(40);
        position: relative;

        @include responsive(md) {
            padding: 0 rem(80);
        }
    }

    &__detail {
        @include responsive(md) {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }

    &__nav {
        @include responsive(md) {
            width: 26.15%;
            margin-top: rem(85);
        }
    }

    &__navList {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__navItem {
        // position: relative;
        width: 35.25%;
    }

    &__navItem:nth-child(odd) {
        margin: 0 rem(64) rem(32) 0;

        @include responsive(md) {
            margin: 0 rem(72) rem(24) 0;
        }
    }

    &__navLink {
        display: block;
        color: #fff;
        font-family: $font-family-en;
        @include font(16, 22, 400, 100, rem);
        padding-left: rem(13);
        position: relative;
        transition: color 0.5s ease;
    }

    &__navLink::before {
        display: block;
        position: absolute;
        top: rem(5);
        left: 0;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background: #88b999;
        content: "";
    }

    &__navLink:hover {
        color: $color-accent;
    }

    &__company {
        margin-top: rem(80);

        @include responsive(md) {
            margin-top: 0;
        }
    }

    &__access {
        margin-top: rem(40);
    }

    &__accessTitle {
        color: #fff;
        font-family: $font-family-en;
        @include font(12, 22, 400, 0, rem);
    }

    address {
        color: #fff;
        font-family: $font-family-base;
        @include font(12, 22, 400, 0, rem);
        margin-top: rem(11);

        @include responsive(md) {
            a[href*="tel:"] {
                pointer-events: none;
                cursor: default;
            }
        }
    }

    &__pageTop {
        margin-top: rem(40);
        position: absolute;
        right: rem(40);
        bottom: rem(160);
        @include responsive(md) {
            position: absolute;
            right: rem(80);
            bottom: 9.4rem;
        }
    }

    &__policy {
        color: #fff;
        font-family: $font-family-en;
        @include font(12, 14, 400, 0, rem);
        margin-top: rem(163);

        @include responsive(md) {
            display: flex;
            justify-content: end;
            margin-top: rem(283);
        }
    }

    &__policy__link {
        font-family: $font-family-en;
        @include responsive(md) {
            margin-right: rem(32);
        }
    }

    &__policyText {
        opacity: 0.5;
    }

    .circle {
        border: 1px solid #fff;
        margin-top: rem(33);

        @include responsive(md) {
            width: rem(50);
            height: rem(50);
        }
    }

    .arrow {
        background-image: url(../images/common/link_arrow_footer.svg);
        transform: translate(-50%, -50%) rotate(-90deg);
    }
}

// contact
body {
    &.subpage {
        .l-footer__contact {
            display: block;
        }
    }
}

.l-footer__contact {
    display: none;
}

.l-footer__contactInner {
    @include responsive(md) {
        @include flex(center, flex-start, row);
    }
}

.l-footer__contactBlock {
    @include img(390, 245);
    @include responsive(md) {
        width: 50%;

        @include img(720, 452);
    }
}

.l-footer__contactBlock {
    .l-footer__contactTitle {
        color: #fff;
        font-family: $font-family-en;
        @include font(42, 72, 600, 0, rem);
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        @include responsive(md) {
            @include font(64, 72, 600, 0, rem);
        }

        span {
            display: block;
            font-family: $font-family-base;
            @include font(18, 27, 600, 0, rem);

            @include responsive(md) {
                @include font(24, 27, 600, 0, rem);
            }
        }
    }
}

.l-footer__contactLink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;

    &.-contact {
        .l-footer__contactBg {
            background-image: url(../images/common/footer_contact_bg_sp.jpg);

            @include responsive(md) {
                background-image: url(../images/common/footer_contact_bg_pc.jpg);
            }
        }
    }
    &.-recruit {
        .l-footer__contactBg {
            background-image: url(../images/common/footer_recruit_bg_sp.jpg);

            @include responsive(md) {
                background-image: url(../images/common/footer_recruit_bg_pc.jpg);
            }
        }
    }
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: $color-text;
        content: "";
        opacity: 0.3;
        transform: translate(-50%, -50%);
    }
    &:hover {
        .l-footer__contactBg {
            transform: scale(1.05);
        }
    }
}

.l-footer__contactBg {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.5s ease;
}
