/* cursor-img
----------------------------------------- */
@use "../global" as *;

body {
  &.is-body {
    @include responsive(xl) {
      position: relative;
      cursor: none;
    }
  }
}

.p-cursor-img,
.p-chaser-img {
  display: block;
  opacity: 0;

  will-change: opacity;
  @include responsive(xl) {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
  }
}

.p-cursor-img {
  &.is-active {
    @include responsive(xl) {
      z-index: 1001;
      cursor: none;
    }
  }
}

.p-chaser-img {
  display: none;

  @include responsive(xl) {
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  }
  &.is-active {
    @include responsive(xl) {
      opacity: 1;
    }
  }
  figure {
    @include responsive(xl) {
      opacity: 0;
      transition: opacity 0.5s cubic-bezier(0.33, 1, 0.68, 1);
    }
    &.is-active {
      @include responsive(xl) {
        opacity: 1;
      }
    }
  }
}

.js-cursor-img01,
.js-cursor-img02,
.js-cursor-img03 {
  @include responsive(xl) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(240);
    height: rem(280);
    transform: translate(-50%, -50%);
  }
  img {
    @include responsive(xl) {
      width: 100%;
      height: 100%;
      font-family: "object-fit: cover;";

      object-fit: cover;
    }
  }
}
