/* works
----------------------------------------- */
@use "../../global" as *;

.p-works-archive {
    border-bottom: 1px solid #cbcbcb;
    padding: rem(80) 0 rem(112) 0;

    @include responsive(md) {
        padding: rem(183) 0 rem(227) 0;
    }

    &__inner {
        margin-top: rem(40);

        @include responsive(md) {
            margin-top: rem(80);
        }
    }

    &__list {
        @include responsive(md) {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }

    &__item {
        position: relative;

        @include responsive(md) {
            width: 30.769%;
        }

        &.is-hidden {
            height: 0;
            margin: 0;
            opacity: 0;
            pointer-events: none;
        }
    }

    &__item:not(:first-child) {
        margin-top: rem(58);

        @include responsive(md) {
            margin-top: 0;
        }
    }

    &__item:nth-child(n + 4) {
        @include responsive(md) {
            margin-top: rem(68);
        }
    }

    &__item:not(:nth-child(3n)) {
        margin-right: rem(40);
    }

    &__link {
        display: block;

        figure {
            position: relative;
            overflow: hidden;
        }

        figure:before {
            display: block;
            padding-top: 68.57%;
            content: "";
        }

        figure img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: auto;
            object-fit: cover;
            transition: transform 0.5s ease;
        }
    }

    &__link:hover {
        figure {
            img {
                transform: scale(1.1);
            }
        }
    }

    &__tag {
        display: block;
        background: #88b999;
        color: #fff;
        @include font(12, 14, 600, 150, rem);
        font-family: $font-family-base;
        padding: rem(12) rem(27);
        position: absolute;
        top: 0;
        right: 0;
        @include font(12, 18, 700, 150, rem);

        &.-archi {
            background-color: $color-accent;
        }
        &.-civil {
            background-color: #ebc110;
        }
        &.-housing {
            background-color: #182f20;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: rem(18);

        .p-works-archive__title {
            color: $color-text;
            font-family: $font-family-base;
            @include font(15, 24, 400, 150, rem);

            @include responsive(md) {
                @include font(16, 24, 400, 150, rem);
            }
        }

        time {
            color: $color-text;
            font-family: $font-family-en;
            @include font(15, 24, 400, 50, rem);

            @include responsive(md) {
                @include font(16, 24, 400, 50, rem);
            }
        }
    }
}
